.characters__form {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 30px 70px;
  justify-content: center;
}

.characters__form-input {
  width: min-content;
  padding: 7px 10px;
  background-color: #000000;
  color: white;
  border: 1px solid #05bd05;
  border-radius: 5px;
  &::placeholder {
    color: white;
  }
  opacity: 0.9;
}

.characters__form-btn {
  border-radius: 5px;
  background-color: rgb(41, 194, 20);
  color: #ffffff;
  border:2px solid #000000;
  cursor: pointer;
  &:hover {
    color: white;
    background-color: #05bd05;
    opacity: 0.9;
  }
}
